<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <title>Count on Crops - Home</title>


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Just+Another+Hand|Lato|Oswald|PT+Sans|Dosis|Hind+Siliguri|Roboto+Mono|Oxygen&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<body>
        <nav class="nav navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="col-md-12">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mynavbar" aria-expanded="false" aria-controls="navbar">
                            <span class="fa fa-bars"></span>
                        </button>
              <a href="index.html" class="navbar-brand" style="font-weight: bold; font-family: Dosis";>Count on Crops</a>
            </div>
            <div class="collapse navbar-collapse navbar-right" id="mynavbar">
              <ul class="nav navbar-nav">
                <li><a href="#">Upload Dataset</a></li>
                <li><a href="#">View Uploaded Datasets</a></li>
                <li><a href="#">Processed Images</a></li>
                <li><a href="#">Plots</a></li>
                <li><a href="#">Statistics</a></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>

  <div class = "container-fluid" style="text-align: center;">
  	<h1 class = "title">Get Started!</h1>
    <button class = "login-button" style="width:auto;">Upload a Dataset</button>
  </div>

</body>